:root {
    --color1: #555555;
    --color2: #ff0000;
    --color3: #770000;
    --color4: #000000;
}
body {
    margin: auto;
    background-color: var(--color2);
    color: var(--color4);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
}
a {
    color: var(--color3);
    text-decoration: none;
}
img {
    display: inline-block;
    place-items: center;
    margin: 10px;
}

#game img{
    place-items: center;
    margin: 10px;
    width: 256px;
    height: auto;
    border-radius: 8px;
    box-shadow: 8px 8px 4px 16px var(--color4);
}
